header {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.title-container {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1vh;
}

.title-container .icon {
  border-radius: 50%;
  height: 5vh;
  width: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.title-container .icon img {
  width: 100%;
  height: 100%;
}

.title-container p {
  color: #15803d;
}
