.banner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
  height: 30vh;
}

.banner-container img {
  width: 155%;
}

@media (min-width: 1024px) {
  .banner-container {
    height: 50vh;
  }
}
